<!-- changed for P4 -->

<ul class="network-icon" aria-hidden="true">
  {{ range .Params.social }}
  {{ $pack := or .icon_pack "fas" }}
  {{ $pack_prefix := $pack }}
  {{ $svg_icon := false }}
  {{ if in (slice "fab" "fas" "far" "fal") $pack }}
  {{ $pack_prefix = "fa" }}
  {{ end }}
  {{ $link := .link }}
  {{ $scheme := (urls.Parse $link).Scheme }}
  {{ $target := "" }}
  {{ if not $scheme }}
  {{ $link = .link | relLangURL }}
  {{ else if in (slice "http" "https") $scheme }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
  {{ end }}
  <li>

    <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>
      {{ if eq $pack "custom" }}
      {{ $svg_icon := resources.Get (printf "media/icons/brands/%s.png" .icon) }}
      <img src="{{ $svg_icon.RelPermalink }}" alt="{{.icon}}" class="svg-icon svg-baseline">
      {{ else }}
      <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }}"></i>
      {{ end }}
    </a>
  </li>
  {{end}}
</ul>
